@import "./variables.scss";


@font-face {
	font-family: "Annabelle";
	src: url(../../design/assets/fonts/Annabelle.ttf);
}

@font-face {
	font-family: "Calibri";
	src: url(../../design/assets/fonts/Calibri_bold.ttf);
}

@font-face {
	font-family: "Inter";
	src: url(../../design/assets/fonts/Inter-Regular.ttf);
}

@font-face {
	font-family: "Nunito";
	src: url(../../design/assets/fonts/Nunito-Light.ttf);
}