@import "./variables.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-family: $default-font;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.button {
	width: 440px;
	height: 68px;
	background-color: $color-green;
	border-radius: 15px;
	font-size: 24px;
	font-weight: 300;
	line-height: 100%;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
	cursor: pointer;
}

.button:hover {
	background-color: #9da77e;
	filter: drop-shadow(0px 0px 10px #97a179);
	transition: 0.5s all;
}

.button:focus {
	background-color: #77854e;
	box-shadow: none;
}

.title {
	font-family: $title-font;
	font-size: 64px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.02em;
	color: $color-text;
	text-transform: uppercase;
}
