$title-font-logo: "Annabelle", sans-serif;
$title-font-logo_green: "Calibri", sans-serif;
$title-font: "Inter", sans-serif;
$default-font: "Nunito", sans-serif;

$color-light: #FBFFE9;
$color-light-green: #A0B45B;
$color-dark: rgba(160, 180, 91, 0.5);
$color-dark-green: rgba(160, 180, 91, 0.6);
$color-text: rgba(0, 0, 0, 0.7);
$color-text-dark: #000000;
$color-title-logo: #5D6F3A;



$mobile: 360px;
$tablet: 768px;
$big-tablet: 1025px;
$desktop: 1280px;
$large-desktop: 2560px;


