@import "../layouts/variables.scss";

.about__overflow {
  overflow-x: hidden;
}
@media screen and (min-width: 769px) {
   
}
.about__wrapper{
width: 100vw;
height: auto;
background-color: $color-light;
}
.about__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

.about__title,
.about__whychooseus{
width: 100vw;
height: 80px;
padding-top: 25px;
text-align: center;
&__h2  
 {
    color: $color-text;
    font-family:$title-font;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
   } 
}
.about__text{
    width: 50vw;
    height: auto;
    padding-right: 40px;
    padding-top: 10px;
&__paragraph {
    font-family: $default-font;
    font-size: calc( ( 100vw + 68.47px)/ 69.789 );
    color: $color-text;
    margin-left: 10px;
    text-indent: 30px;
    line-height: 1.4;
}
}
.about__carousel{
    width: 40vw;
    height: auto;
    min-height: 500px;
    padding-left: 30px;
    padding-top: 20px;
}

.about__advantages {
    display: flex;
    justify-content: space-around;
    align-items: center;

&__cards {
   text-align: center;
   padding-top: 20px;}
   
&__imgtitle{
    font-family: $default-font;
    font-size: 16px;
   }
}


@media screen and (max-width: 767px) {

  .about__wrapper {
    margin-top: 85px;
  }

  .about__carousel {
    width: 100vw;
    padding-left: 25px; 
    padding-right: 25px;

  }
  .about__text {
    width: 100vw;
    padding-left: 25px; 
    padding-right: 25px;
    &__paragraph{
      font-weight: 300;
      font-size: calc((100vw + 87.86px)/ 26.714);
      color: $color-text;
      line-height: 1.2;
      margin-top: 10px;
  }
  }
  .about__content {
    display: flex;
    flex-direction: column;
  }
  
  .about__title,
  .about__whychooseus {
    height: 50px;
    margin-bottom: 20px;
    &__h2  {
    font-size: calc((100vw - 19px)/ 17);
    font-weight: 600;
    color: $color-text;
  }
  }
  .about__advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  &__cards {
    width: 35%;
    padding-top: 20px;
    img {
        width: 60%;
        height: 60%;
    }
    &__imgtitle{
        font-size: 14px;
       }
  }}
}
@media screen and (min-width: 1600px){
  .about__carousel {
    width: 25vw;
    align-self: center;
  }
  .about__text {
    width: 65vw;
    padding-left: 10vw; 
    padding-right: 10vw;
    &__paragraph{
      font-size: 28px;
      
  }
}}
@media (min-width: 769px) and (max-width: 1180px){
  .about__carousel {
    width: 60vw;
    align-self: center;
    padding-left: 10vw; 
    padding-right: 10vw;
  }
  .about__text {
    width: 100vw;
    padding-left: 10vw; 
    padding-right: 10vw;
  
  }
  .about__content {
    display: flex;
    flex-direction: column;
  }
}



