@import "../layouts/variables.scss";



        @media screen and (min-width: $tablet) and (max-width: $large-desktop) {

            .later {
                background-color: $color-light;
                height: 90vh;
                display: flex;
                justify-content: center;

        &__container {
            width: 60vw;
            height: 40vh;
            background-color: $color-dark;
            border-radius: 45px;
            box-shadow: 4px 4px 4px 0 rgba(63, 84, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20vh;
        }

        &__text {
            width: 80%;
            text-align: center;
            font-family: $default-font;
            font-weight: 500;
            font-size: calc(( 100vw + 716.5px ) / 123.7);
            line-height: 2em;
            color: $color-text;
        }
    }
    }

    @media screen and (max-width: $tablet) {

        .later {
            background-color: $color-light;
            height: 90vh;
            display: flex;
            justify-content: center;
            margin-top: 85px;

        &__container {
            width: 80vw;
            height: 30vh;
            background-color: $color-dark;
            border-radius: 45px;
            box-shadow: 4px 4px 4px 0 rgba(63, 84, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10vh;
        }

        &__text {
            width: 80%;
            text-align: center;
            font-family: $default-font;
            font-weight: 500;
            font-size: calc(( 100vw + 517.25px ) / 58.37);
            line-height: 2em;
            color: $color-text;
        }
    }
}

