@import "../layouts/variables.scss";

<<<<<<< HEAD
@media screen and (min-width: $tablet) and (max-width: $large-desktop) {

    .main-page-mbl, .main-footer-mbl {
        display: none;
    }

    .dsk-main-block {
        background-image: url(../../design/assets/images/main/main-background.png);
        background-repeat: no-repeat;
        background-size: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;

        &__brand {
            width: 50vw;
        }

        &__text {
            font-family: $title-font-logo;
            font-size: 4em;

            &_bottom {
                text-align: end;
            }
        }

        &__title {
            font-family: $title-font-logo_green;
            font-weight: 900;
            color: $color-title-logo;
            font-size: 5em;
            text-align: center;
        }

        &__discription {
            color: $color-text;
            font-family: $title-font;
            text-align: center;
            font-weight: 500;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            width: 10%;
            height: 6%;
            background-color: rgb(81, 81, 81);
            color: $color-light;
            font-family: $title-font;
            font-size: 0.8em;
            text-decoration: none;
        }
    }

    .dsk-mk {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: $color-light;
        justify-content: center;
        padding: 0 5% 0 5%;
        column-gap: 4%;
        height: 250vh;
    
        &__title {
            width: 100vw;
            text-align: center;
            color: $color-text;
            font-family: $title-font;
            font-weight: 700;
            font-size: 1.8em;
            padding: 1% 0 1% 0;
        }
    }
    
        .dsk-mk-card {
            width: 20vw;
            height: 55vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid $color-light-green;
            padding: 1%;
            margin: 0;
            align-items: center;

        
            &__img {
                width: 100%;

                &_block {
                    width: 98%;
                    object-fit: scale-down;
                    object-position: top;
                    padding: 0%;
                }
            }
    
            &__title {
                color: $color-text;
                font-family: $title-font;
                font-weight: 700;
                font-size: 1.1em;
                padding: 5% 0 5% 0;
                border-bottom: 1px solid black;
                width: 95%;
                text-align: center;

                &_long {
                    padding: 1% 0 1% 0;
                }
            }
    
            &__text {
                padding-top: 5%;
                align-self: flex-start;
                margin-left: 2%;
                color: $color-text;
                font-family: $title-font;
                font-weight: 600;
                font-size: 0.9em;
                text-decoration: none;
    
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
=======
.main-page-mbl {
    overflow-x: hidden;
>>>>>>> dev
}

@media screen and (max-width: $tablet) {
    .wrapper-main-page-mbl {
        background-color: $color-light;
    }

    .main-page-mbl-main {
        display: flex;
        flex-direction: column;
        align-items: center;
<<<<<<< HEAD
        justify-content: flex-end;

        width: 100vw;
        height: 239vh;

        background-image: url(../../design/assets/images/main/main-backgr-mbl.png);
        background-repeat: no-repeat;
        background-size: contain;

        &__logo {
            width: 90vw;
            margin-bottom: 40vh;

            &_black {
                font-family: $title-font-logo;
                font-size: 2.7em;
                text-align: start;
                line-height: 0.5em;
            }

            &_bottom {
                text-align: end;
            }

            &_green {
            font-family: $title-font-logo_green;
            font-weight: 900;
            color: $color-title-logo;
            font-size: 3.2em;
            text-align: center;
            }

            &_description {
                color: $color-text;
                font-family: $title-font;
                text-align: center;
                font-weight: 500;
                margin-top: 7vh;
            }
        }

        &__number {
            margin-bottom: 3.38vh;
            padding-bottom: 5px;

=======
        justify-content: space-between;

        width: 100vw;
        height: 100vh;

        background-image: url(../../design/assets/images/main/main-background-mbl.png);
        object-fit: cover;
        background-repeat: no-repeat;

        &__logo {
            display: flex;
            flex-direction: column;

            margin-top: 12.35vh;

            &_black {
                font-family: $title-font-logo;
                font-size: calc(( 100vw + 145.5px ) /15.75);
            }

            &_right {
                align-self: flex-end;

                margin-top: -2.5vh;
                margin-left: -7vw;
            }

            &_left {
                margin-bottom: -2vh;
            }

            &_green {
                text-align: center;

                font-family: $title-font-logo_green;
                font-size: calc(( 100vw + 202.2px )/ 12.6);
                text-transform: uppercase;

                color: #3c5500;
            }

            &_description {
                margin-top: 2vh;

                text-align: center;
                font-family: $title-font;

                font-size: calc(( 100vw + 336.92px )/ 29);
                font-weight: 600;
                color: rgba(10, 9, 9, 0.7);
            }
        }
        &__contackts{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            height: 90px;
            margin-bottom: 5.17vh;
        }

        &__number { 
            padding-bottom: 5px;
>>>>>>> dev
            border-bottom: 1px solid black;

            font-family: $title-font;
            font-weight: 600;
<<<<<<< HEAD
            font-size: 16px;
=======
            font-size: calc(( 100vw + 618px )/ 63);
>>>>>>> dev
            line-height: 19px;
        }

        &__social-networks {
            display: flex;

<<<<<<< HEAD
            margin-bottom: 5.17vh;

            &_tg {
                margin-right: 22px;
=======
            &_tg {
                margin-right: 22px; 

                & img {
                    height: 4.43vh;}              
>>>>>>> dev
            }

            &_vk {
                margin-left: 22px;
<<<<<<< HEAD
=======

                & img {
                    height: 4.43vh;}              
            }
>>>>>>> dev
            }
        }
    }

    .main-page-mbl-section {
        &_1 {
<<<<<<< HEAD
            background-image: url(../../design/assets/images/main/main1-2.png);
            background-size: 100vw;
        }
        &_2 {
            background-image: url(../../design/assets/images/main/main3.png);
            background-size: 100vw;
        }
        &_3 {
            background-image: url(../../design/assets/images/main/main4.png);
            background-size: 100vw;
        }
        &_4 {
            background-image: url(../../design/assets/images/main/main5.png);
            background-size: 100vw;
=======
            background-image: url(../../design/assets/images/main/main2.png);
        }

        &_2 {
            background-image: url(../../design/assets/images/main/main3.png);
        }

        &_3 {
            background-image: url(../../design/assets/images/main/main4.png);
        }

        &_4 {
            background-image: url(../../design/assets/images/main/main5.png);
>>>>>>> dev
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
<<<<<<< HEAD
        width: 100vw;
        height: 30.75vh;
        margin-top: 30px;
        object-fit: cover;
        background-repeat: no-repeat;
=======

        width: 100vw;
        height: 30.75vh;

        margin-top: 30px;

        object-fit: cover;
        background-repeat: no-repeat;
        background-size: contain;
>>>>>>> dev

        &__title {
            margin-bottom: 24px;

            font-family: $title-font;
            font-weight: 700;
<<<<<<< HEAD
            font-size: 30px;
=======
            font-size: calc(( 100vw + 555px )/ 31.5);
>>>>>>> dev
            text-align: center;

            color: #FFFFFF;
        }

        &__button {
            width: 133px;
            height: 42px;

            font-family: $title-font;
            font-weight: 700;
            font-size: 14px;

            background: #E1EFDB;
            border-radius: 20px;
            text-transform: uppercase;
        }
    }
<<<<<<< HEAD
}
=======


>>>>>>> dev
@media screen and (min-width: 769px) {
    .wrapper-main-page-mbl {
        display: none;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> dev
