@import "../layouts/variables.scss";

@media screen and (min-width: $tablet) and (max-width: $large-desktop) {

    .main-page-mbl {
        display: none;
    }

    .dsk-main-block {
        background-image: url(../../design/assets/images/main/main-background.png);
        background-repeat: no-repeat;
        background-size: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;

        &__brand {
            width: 50vw;
        }

        &__text {
            font-family: $title-font-logo;
            font-size: 4em;

            &_bottom {
                text-align: end;
            }
        }

        &__title {
            font-family: $title-font-logo_green;
            font-weight: 900;
            color: $color-title-logo;
            font-size: 5em;
            text-align: center;
        }

        &__discription {
            color: $color-text;
            font-family: $title-font;
            text-align: center;
            font-weight: 500;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            width: 10%;
            height: 6%;
            background-color: rgb(81, 81, 81);
            color: $color-light;
            font-family: $title-font;
            font-size: 0.8em;
            text-decoration: none;
        }
    }

    .dsk-mk {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: $color-light;
        justify-content: center;
        padding: 0 5% 0 5%;
        column-gap: 4%;
        height: 250vh;
    
        &__title {
            width: 100vw;
            text-align: center;
            color: $color-text;
            font-family: $title-font;
            font-weight: 700;
            font-size: 1.8em;
            padding: 2% 0 1% 0;

        }
    }
    
        .dsk-mk-card {
            width: 20vw;
            height: 55vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid $color-light-green;
            padding: 1%;
            margin: 0;
            align-items: center;

        
            &__img {
                width: 100%;

                &_block {
                    width: 98%;
                    object-fit: scale-down;
                    object-position: top;
                    padding: 0%;
                }
            }
    
            &__title {
                color: $color-text;
                font-family: $title-font;
                font-weight: 700;
                font-size: 1.1em;
                padding: 5% 0 5% 0;
                border-bottom: 1px solid black;
                width: 95%;
                text-align: center;

                &_long {
                    padding: 1% 0 1% 0;
                }
            }
    
            &__text {
                padding-top: 5%;
                align-self: flex-start;
                margin-left: 2%;
                color: $color-text;
                font-family: $title-font;
                font-weight: 600;
                font-size: 0.9em;
                text-decoration: none;
    
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {


    .main-footer-mbl {
        background-color: $color-dark-green;
        height: 147gitпшvh;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-family: $title-font;
            font-weight: 700;
            font-size: 1.5em;
            text-align: center;
            color: $color-text;
            line-height: 30px;
            margin: 12% 0 8% 0;

            &_next {
                margin: 8% 0 8% 0;
            }
        }


        &__text {
            font-family: $default-font;
            font-weight: 400;
            font-size: 1.2em;
            text-align: center;
            color: $color-text;
            margin-bottom: 8%;
            line-height: 30px;

        }

        &__social-block {
            display: flex;
            gap: 3%;
            margin-left: 15%;
        }

        &__icon {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &__img {
            width: 70%;

            &_big {
                width: 85%;
            }
        }

        &__link {
            height: 100%;
            width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }

        &__web {
            text-decoration: none;
            color: $color-text;
            font-weight: 600;
        }

        &__number {
            font-size: 0.9em;
            font-weight: 600;
        }

        &__address {
            width: 70vw;
        }

        &__map {
            margin-bottom: 8%;
        }

        &__copy {
            display: flex;
            width: 100vw;
            justify-content: center;
            align-items: flex-start;
            gap: 10%;
        }

        &__brand {
            font-family: $title-font-logo;
            color: $color-text;
            font-size: 1.5em;
        }
    }
}