@import "../layouts/variables.scss";

@media screen and (min-width: $mobile) and (max-width: $tablet) {

    .dsk-nav, .dsk-nav__logo, .dsk-nav__pages, .dsk-nav__social, .dsk-nav__nmbr, .dsk-main-block {
        display: none;
    }
    
    .mbl-header-btn {
        background-color: $color-light;
        border-bottom: 1px solid $color-light-green;
        display: flex;
        padding: 5% 0 5% 5%; 

        &__back {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-dark-green;
            border-radius: 22px;
            width: 35vw;
            height: 5.5vh;

            &:hover {
                cursor: pointer;
            }
        }

        &__link {
            color: $color-text;
            font-family: $title-font;
            font-weight: 800;
            font-size: 0.9em;
            text-decoration: none;
        }
    }
}

.mbl-mk {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light;

    &__title {
        color: $color-text;
        font-family: $title-font;
        font-weight: 700;
        font-size: 1.8em;
        padding-top: 5%;
    }
}

    .mbl-mk-card {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-light-green;
        padding: 5%;
        margin: 5% 3% 5% 3%;
        align-items: center;
    
        &__img {
            width: 100%;
        }

        &__title {
            color: $color-text;
            font-family: $title-font;
            font-weight: 700;
            padding: 5% 0 5% 0;
            border-bottom: 1px solid black;
            width: 95%;
            text-align: center;
        }

        &__text {
            padding-top: 5%;
            align-self: flex-start;
            margin-left: 2%;
            color: $color-text;
            font-family: $title-font;
            font-weight: 600;
            font-size: 1.2em;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    @media screen and (min-width: $tablet) and (max-width: $large-desktop) {

        .mbl-header-btn, .mbl-header-btn__back {
            display: none;
        }


        .dsk-nav {
            background-color: rgba(160, 180, 91, 0.3);
            display: flex;
            align-content: center;
            justify-content: space-around;

            &__pages, &__social, &__nmbr {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__pages {
                width: 50%;
                
            }

            &__link {
                font-family: $title-font;
                font-weight: 400;
                text-decoration: none;
                color: $color-text;

                &:hover {
                    text-decoration: underline;
                }
            }

            &__social {
                width: 8%;
            }

            &__nmbr {
                font-family: $title-font;
                font-size: 0.9em;
            }
        }

        .dsk-main-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 100vh;

            &__brand {
                width: 50vw;
            }

            &__text {
                font-family: $title-font-logo;
                font-size: 4em;

                &_bottom {
                    text-align: end;
                }
            }

            &__title {
                font-family: $title-font-logo_green;
                font-weight: 900;
                color: $color-title-logo;
                font-size: 5em;
                text-align: center;
            }

            &__discription {
                color: $color-text;
                font-family: $title-font;
                text-align: center;
                font-weight: 500;
            }

            &__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                width: 10%;
                height: 7%;
                background-color: rgb(81, 81, 81);
                color: $color-light;
                font-family: $title-font;
                font-size: 0.8em;
                text-decoration: none;
            }
        }

        .dsk-mk {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            background-color: $color-light;
            justify-content: center;
            padding: 0 5% 0 5%;
            column-gap: 5%;
            height: 280vh;
        
            &__title {
                width: 100vw;
                text-align: center;
                color: $color-text;
                font-family: $title-font;
                font-weight: 700;
                font-size: 1.8em;
                padding: 3% 0 0 0;

            }
        }
        
            .dsk-mk-card {
                width: 20vw;
                height: 55vh;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid $color-light-green;
                padding: 1%;
                margin: 0;
                align-items: center;

            
                &__img {
                    width: 100%;

                    &_block {
                        width: 98%;
                        object-fit: scale-down;
                        object-position: top;
                        padding: 0%;
                    }
                }
        
                &__title {
                    color: $color-text;
                    font-family: $title-font;
                    font-weight: 700;
                    font-size: 1.1em;
                    padding: 5% 0 5% 0;
                    border-bottom: 1px solid black;
                    width: 95%;
                    text-align: center;

                    &_long {
                        padding: 1% 0 1% 0;
                    }
                }
        
                &__text {
                    padding-top: 5%;
                    align-self: flex-start;
                    margin-left: 2%;
                    color: $color-text;
                    font-family: $title-font;
                    font-weight: 600;
                    font-size: 0.9em;
                    text-decoration: none;
        
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

    }