@import "../layouts/variables.scss";

/*desktop*/
@media screen and (min-width: 767px) {
    .button-record-mbl {
        display: none;
    }

.wrapper__mk2 {
    padding: 7px;
}
    .candle-message {
        background-color: $color-light;
        overflow-x: hidden;

        &__about {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 8vh;
            gap: 5vw;

            width: 100%;
            
            & img {
                width: 100%;
            }

            &_line {
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }

            &_title {
                font-family: "Inter", sans-serif;
            }

            &_description {
                font-family: "Nunito", sans-serif;
            }
        }

        &__svecha-main {
            width: 25vw;
        }

        &__images {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 7vh;
            gap: 4vw;

            &_svecha1,
            &_svecha2,
            &_svecha3 {
                width: 20vw;
            }
        }
    }


    .sashe {

        &__about {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 8vh;
            gap: 5vw;

            &_line {
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }

            &_title {
                font-family: "Inter", sans-serif;
            }

            &_description {
                font-family: "Nunito", sans-serif;
            }

            &_sashe-main {
                width: 30vw;
            }

        }

        &__images {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 8vh;
            gap: 5vw;

            &_sashe1,
            &_sashe2,
            &_sashe3 {
                width: 20vw;
            }
        }
    }

    .candle-aroma {

        &__about {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 8vh;
            gap: 5vw;

            &_aroma-main {
                width: 30vw;
            }

            &_line {
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }

            &_title {
                font-family: "Inter", sans-serif;
            }

            &_description {
                font-family: "Nunito", sans-serif;
            }

        }

        &__images {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;


            &_row1 {
                display: flex;
                gap: 12pt;
            }

            &_row2 {
                display: flex;
                gap: 12pt;
                height: 210px;
            }

            &_aroma1,
            &_aroma3 {
                align-self: flex-start;
                height: 180px;
                width: 280px;
            }

            &_aroma5 {
                align-self: flex-start;
                margin-top: 20pt;
                height: 180px;
                width: 280px;
            }

            &_aroma4,
            &_aroma6 {
                position: relative;
                top: -165px;
                width: 280px;
                height: 370px;
            }

            &_aroma2 {
                width: 280px;
                height: 370px;
            }

        }

        &__block-btn {
            width: 100vw;
            display: flex;
            justify-content: center;
        }
    }
}

/*mobile*/

@media screen and (max-width: 768px) {

    .button-record-dsk {
        display: none;
    }

    .candle-message {
        background-color: $color-light;
        overflow-x: hidden;
        margin-top: 85px;

        &__about {
            display: flex;
            flex-direction: column;
            align-items: center;


            &_title {
                width: 86.26vw;
                margin-top: 3.56vw;
                padding-bottom: 5.6vw;
                font-family: "Inter", sans-serif;
                font-weight: 600;
                font-size: calc((100vw - 19px) / 17);
                text-align: center;
                color: rgba(0, 0, 0, 0.7);
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }

            &_description {
                width: 100%;
                margin: 0 auto;
                font-weight: 300;
                line-height: 25px;
                color: rgba(0, 0, 0, 0.7);
                font-family: "Nunito", sans-serif;
            }

            &_svecha-main {
                max-width: 100%;
                height: auto;
            }
        }

        &__images {
            display: flex;
            flex-direction: row-reverse;
            gap: 15px;

            &_svecha2 {
                display: none;
            }

            &_svecha1,
            &_svecha3 {
                max-width: 50%;
                height: auto;
                margin-top: 15px;
            }
        }
    }


    .sashe {

        &__about {
            display: flex;
            flex-direction: column;
            align-items: center;

            &_sashe-main {
                max-width: 100%;
                height: auto;
            }

            &_title {
                width: 86.26vw;
                margin-top: 3.56vw;
                padding-bottom: 5.6vw;
                font-family: "Inter", sans-serif;
                font-weight: 600;
                font-size: calc((100vw - 19px) / 17);
                text-align: center;
                color: rgba(0, 0, 0, 0.7);
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }

            &_description {
                width: 100%;
                margin: 0 auto;
                font-weight: 300;
                line-height: 25px;
                color: rgba(0, 0, 0, 0.7);
                font-family: "Nunito", sans-serif;
            }
        }

        &__images {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &_sashe1,
            &_sashe2,
            &_sashe3 {
                max-width: 50%;
                margin-top: 15px;
            }

            &_sashe3 {
                align-self: center;
            }
        }

        &__block-btn {
            width: 100vw;
            display: flex;
            justify-content: center;
        }

    }

    .candle-aroma {

        &__about {
            display: flex;
            flex-direction: column;
            align-items: center;

            &_aroma-main {
                max-width: 100%;
                height: auto;
                margin-top: 25px;
            }

            &_title {
                width: 86.26vw;
                margin-top: 3.56vw;
                padding-bottom: 5.6vw;
                font-family: "Inter", sans-serif;
                font-weight: 600;
                font-size: calc((100vw - 19px) / 17);
                text-align: center;
                color: rgba(0, 0, 0, 0.7);
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }

            &_description {
                width: 100%;
                margin: 0 auto;
                font-weight: 300;
                line-height: 25px;
                color: rgba(0, 0, 0, 0.7);
                font-family: "Nunito", sans-serif;
            }
        }


        &__images {
            display: flex;
            flex-direction: row;
            gap: 15px;

            &_aroma1,
            &_aroma3,
            &_aroma5,
            &_aroma6 {
                display: none;
            }

            &_aroma2,
            &_aroma4 {
                max-width: 100%;
                margin-top: 15px;
                height: 100%;
            }

        }

        &__block-btn {
            width: 100vw;
            display: flex;
            justify-content: center;
        }
    }
}