@import "../layouts/variables.scss";

.loza__body {
    overflow-x: hidden;
}

@media screen and (min-width: $tablet) and (max-width: $large-desktop) {
    .loza-mobile {
        display: none;
    }
    
    .loza-desktop {
        background-color: $color-light;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .loza-content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 9vw;
        margin: 5.63vw 5vw 5% 5vw;
        
        &__image-block {
            display: flex;
            justify-content: center;
            width: 45vw;
        }
    
        &__image {
            width: 95%;
            object-fit: cover;
            height: 95%;
        }

        &__text-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45vw;
            margin-left: 4vw;
        }

        &__title {
            text-align: center;
            margin-top: -0.1vw;
            margin-bottom: 1.6vw;
            color: $color-text;
            font-family: $title-font;
            font-size: calc(( 100vw - 53px ) / 34);
            font-weight: 600;
        } 
    
        &__text {
            margin-top: 2.07vw;
            color: $color-text;
            font-family: $default-font;
            font-size: calc(( 100vw + 48px ) / 64);
            font-weight: 300;
        }
    
        &__line {
            width: 100%;
            border-bottom: 1px solid $color-text;
        }
    }
    
    .loza-content2 {
        display: flex;
        justify-content: center;
        margin: 0 5vw 5% 5vw;
        gap: 10px;
    
        &__block1 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            width: 30vw;
        }
    
        &__block2 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            width: 30vw;
        }
    
        &__block3 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            width: 30vw;
        }
    
        &__image1 {
            width: 95%;
        }
    
        &__image2 {
            width: 95%;
        }
    
        &__image3 {
            width: 95%;
        }
    
        &__image4 {
            width: 95%;
        }
    
        &__image5 {
            width: 95%;
        }
    
        &__image6 {
            width: 95%;
        }
    }
}

@media screen and (min-width: 1px) and (max-width: $tablet) {
    .loza-desktop {
        display: none;
    }

    .loza-mobile {
        background-color: $color-light;
        margin: 0 auto;
        margin-top: 85px;


        &__content1 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__image1 {
            width: 88%;
            border-radius: 15%;
            margin-top: 20px;
        }

        &__title {
            text-align: center;
            color: $color-text;
            font-family: $title-font;
            font-weight: 600;
            font-size: calc(( 100vw - 5px ) / 18);
        } 

        &__line2 {
            width: 88%;
            height: 20px;
            border-bottom: 1px solid $color-text;
            margin-bottom: 30px;
        }

        &__text-block {
            width: 88%;
            color: $color-text;
            font-family: $default-font;
            font-size: 4.580vw;
            font-size: calc(( 100vw + 133px ) / 30);
        }

        &__content2 {
            margin: 25px;       
        }

        &__image-block1 {
            display: flex;
            justify-content: space-around;
        }

        &__image-block2 {
            display: flex;
            justify-content: space-around;
            margin-top: 15px;
        }

        &__image2 {
            width: 45%;
            border-radius: 15px;
        }

        &__image3 {
            width: 45%;
            border-radius: 15px;
        }
        
        &__image4 {
            width: 45%;
            border-radius: 15px;
        }

        &__image5 {
            width: 45%;
            border-radius: 15px;
        }

        &__title2 {
            width: 100%;
            text-align: center;
            margin-top: 10%;
            color: $color-text;
            font-family: $title-font;
            font-weight: 600;
            font-size: calc(( 100vw - 5px ) / 18);
        }

        &__image-block3 {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 25px;
        }

        &__image-block4 {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 15px;
            margin-bottom: 30px;
        }

        &__image6 {
            width: 40%;
        }

        &__image7 {
            width: 40%;
        }
        
        &__image8 {
            width: 40%;
        }

        &__image9 {
            width: 40%;
        }
    }
}
