@import "../layouts/variables.scss";

@media screen and (min-width: $big-tablet) and (max-width: $large-desktop) {
    .loza-mobile {
        display: none;
    }
    
    .loza-desktop {
        background-color: $color-light;
        margin: 0 auto;
    }
    
    .loza-content1 {
        display: flex;
        margin: 20px;
        
        
        h2 {
            font: $title-font;
            text-align: center;
            margin: 20px;
        } 
    
        p {
            font: $default-font;
            margin: 20px;
        }
    
        &__image-block {
            width: 50%;
            border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__image {
            width: 90%;
            border: 1px solid red;
            
        }
    
        &__text-block {
            width: 50%;
            border: 1px solid blue;
        }
    }
    
    .loza-content2 {
        display: flex;
        
    
        &__block1 {
            border: 1px solid blue;
            
        }
    
        &__block2 {
            border: 1px solid blue;
            
        }
    
        &__block3 {
            border: 1px solid blue;
            
        }
    
        &__image1 {
            width: 95%;
            
        }
    
        &__image2 {
            width: 95%;
        }
    
        &__image3 {
            width: 95%;
        }
    
        &__image4 {
            width: 95%;
        }
    
        &__image5 {
            width: 95%;
        }
    
        &__image6 {
            width: 95%;
        }
    }
}

@media screen and (min-width: 1px) and (max-width: $tablet) {
    .loza-desktop {
        display: none;
    }

    .loza-mobile {
        background-color: $color-light;
        margin: 0 auto;

        &__content1 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__buttons {
            display: flex;
            justify-content: flex-start;
            width: 80%;
            margin-top: 20px;
        }

        &__buttons_errow {
            background-color: $color-dark-green;
            width: 9vw;
            height: 8vh;
            border-radius: 50%;
        }

        &__buttons_to-main {
            background-color: $color-dark-green;
            border-radius: 22px;
            margin-left: 5%;
            width: 30vw;
            height: 8vh;
            font: $title-font;
            font-weight: bolder;
            color: $color-text-dark;
        }

        &__line1 {
            width: 100%;
            height: 10px;
            border-bottom: 2px solid $color-dark-green;
            margin-top: 10px;
        }

        &__image1 {
            width: 80%;
            border-radius: 10%;
            margin-top: 20px;
        }

        &__title-block {
            width: 80%;
        }

        &__title {
            font: $title-font;
            text-align: center;
            margin: 20px;
        } 

        &__line2 {
            width: 80%;
            height: 10px;
            border-bottom: 2px solid $color-text;
            margin-bottom: 30px;
        }

        &__text-block {
            width: 80%;
        }
    }
}
