@import "../layouts/variables.scss";

@media screen and (min-width: 1px) and (max-width: $tablet) {
    .neuro {
        display: flex;

        flex-direction: column;
        align-items: center;

        background-color: $color-light;

        &__img1 {
            width: 86.77vw;
            height: 86.77vw;
            margin-top: 4.07vw;

        }

        &__img1 img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            border-radius: 45px;
        }

        &__title {
            width: 86.26vw;
            margin-top: 3.56vw;
            padding-bottom: 5.6vw;

            text-align: center;
            vertical-align: top;

            font-family: $title-font;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;

            color: $color-text;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }

        &__description {
            width: 86.26vw;
            margin-top: 4.07vw;

            text-align: left;
            vertical-align: top;

            font-family: $default-font;
            font-weight: 300;
            font-size: 18px;
            line-height: 25px;

            color: $color-text;
        }

        &__img2 {
            width: 86.77vw;
            height: 62.08vw;
            margin-top: 6.87vw;

            & img {
                width: 100%;
                height: 100%;

                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
}

@media screen and (min-width: calc($tablet+1px)) {
    
}