@import "../layouts/variables.scss";

.mkphoto__body {
    overflow-x: hidden;
    background-color: $color-light;
    color:$color-text ;
}

@media screen and (min-width: 769px){
    .mkphoto{
        width: 100vw;
        margin-top: 5.63vw;
    
            &__main{
            display: flex;
            align-items: center;
            }

           &__plant{
            margin-left: 8vw;
            width: 73%;
            height: 80%;
            border-radius: 15px;
           }
           
           &__plant-text{
            font-weight: 300;
            margin-left: 8vw;
            font-family: $default-font;
            margin-top: 4.07vw;
            font-size: calc((27vw - 19px)/ 17);
            line-height: 120%;

            max-width: 37.5vw;
           }
           &__title{
            font-family: $title-font;
            width: 80%;
            text-align: center;
            font-weight: 600;
            font-size: calc(( 100vw - 166.27px )/ 30.136 );
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            padding-bottom: 2vw;
           }
           
           &__maintext{
            font-family: $default-font;
            font-weight: 300;
            margin-top: 2em;
            font-size: calc( ( 100vw + 68.47px)/ 69.789 );
            line-height: 120%;
            
           }
           &__list{
            list-style-type: none;
           }

           &__list::before{
            content: "– ";
           }
           &__plant-text2{
            display: none;
           }

           &__images{
            margin: 5% 8vw 5% 8vw;
            display: flex;
            justify-content: space-around;
            margin-top: 3vw;
            
           }

           &__img-basket, &__img-cup, &__img-hat{
            border-radius: 15px;
            width: 32%;
            }

            &__img-headband{
            display: none;}

            }

}

@media screen and (max-width: $tablet){
    .mkphoto{
        width: 100vw;
        margin-top: 85px;
    
            &__main{
            display: flex;
            flex-direction: column;
            align-items: center;
            }

           &__plant{
            display: block;
            width: 86.77vw;
            height: 86.77vw;
            border-radius: 45px;
            margin-top: 4.07vw;
           }
           
           &__plant-text{
            display: none;
           }
           &__title{
            margin: 0 auto;
            margin-top: 3.56vw;
            font-family: $title-font;
            width: 80%;
            text-align: center;
            font-weight: 600;
            font-size: calc((100vw - 19px)/ 17);
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            padding-bottom: 5.6vw;
           }
           
           &__maintext, &__plant-text2{
            font-weight: 300;
            margin-left: 2em;
            text-align: left;
            font-family: $default-font;
            margin-top: 4.07vw;
            font-size: calc((100vw + 87.86px)/ 26.714);
            line-height: 120%;
           }
           &__list{
            list-style-type: none;
           }

           &__list::before{
            content: "– ";
           }

           &__images{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 2em;
            margin-bottom: 30px;
            gap: 2em;
           }

           &__img-basket, &__img-cup, &__img-hat, &__img-headband{
            border-radius: 15px;
            width: 40%;
            height: 40%;
            }

            }

}


@media screen and (min-width: 1890px){
    .mkphoto{
        width: 100vw;
        margin-top: 5.63vw;
    
            &__main{
            display: flex;
            align-items: center;
            }

           &__plant{
            margin-left: 8vw;
            width: 73%;
            height: 80%;
            border-radius: 15px;
           }
           
           &__plant-text{
            font-weight: 300;
            margin-left: 8vw;
            font-family: $default-font;
            margin-top: 4.07vw;
            font-size: calc((30vw - 19px)/ 17);
            line-height: 120%;

            max-width: 37.5vw;
           }
           &__title{
            font-family: $title-font;
            width: 80%;
            text-align: center;
            font-weight: 600;
            font-size: calc(( 100vw - 166.27px )/ 30.136 );
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            padding-bottom: 2vw;
           }
           
           &__maintext{
            font-family: $default-font;
            font-weight: 300;
            margin-top: 2em;
            font-size: calc((30vw - 19px)/ 17);
            line-height: 120%;
            
           }
           &__list{
            list-style-type: none;
           }

           &__list::before{
            content: "– ";
           }
           &__plant-text2{
            display: none;
           }

           &__images{
            margin: 5% 8vw 5% 8vw;
            display: flex;
            justify-content: space-around;
            margin-top: 3vw;
            
           }

           &__img-basket, &__img-cup, &__img-hat{
            border-radius: 15px;
            width: 32%;
            }

            &__img-headband{
            display: none;}

            }

}