@import "../layouts/variables.scss";

.reviews-body {
    height: 100%;
    overflow-x: hidden;
    background-color: $color-light;
}

.reviews-header {
    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 24px;
        margin-left: 20px;
        margin-bottom: 24px;
    }
}

.reviews-arrow__link {
    margin-right: 15px;
    width: 45px;
    height: 45px;
}

.reviews-arrow__img {
    margin: 0 auto;
    text-align: center;
}

.reviews-tomain__link {
    width: 133px;
    height: 45px;
    padding: 14px 18px;
    border-radius: 20px;
    background-color: $color-dark-green;
    text-decoration: none;
    font-family: $title-font;
    color: $color-text;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.reviews-line__img {
    width: 100%;
    height: 1px;
    margin-bottom: 27px;
}

.reviews-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;

    .reviews__title {
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    .reviews-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 7vh;
        padding-bottom: 7vh;
    }
}

/*slider*/

.slider__rev {
    position: relative;
    margin: 0 auto;
    max-width: 320px;
}

.slider__wrapper__rev {
    overflow: hidden;
    max-width: 100%;
    border-radius: 20px;
}

.slider__items__rev {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.slider_disable-transition__rev {
    transition: none;
}

.slider__item__rev {
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;
    will-change: transform;
}

.review__text__item {
    padding: 3vh 3vw;
    background-color: $color-dark-green;
    font-family: $default-font;
    font-weight: 300;
    font-size: 15px;
    color: $color-text;
}

/* buttons left and right */

.slider__control__rev {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    color: #fff;
    text-align: center;
    background: rgb(0 0 0 / 20%);
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider__control_hide__rev {
    display: none;
}

.slider__control__rev[data-slide="prev"] {
    left: 0;
}

.slider__control__rev[data-slide="next"] {
    right: 0;
}

.slider__control__rev:hover,
.slider__control__rev:focus {
    color: #fff;
    text-decoration: none;
    background: rgb(0 0 0 / 30%);
    outline: 0;
}

.slider__control__rev::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control__rev[data-slide="prev"]::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control__rev[data-slide="next"]::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.reviews-img {
    max-width: 320px;
    margin-bottom: 3vh;
}