@import "../layouts/variables.scss";
.shop-page__wrapper {
    padding-top: 90px;
}
.shop-page__heading {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.7);
}
.shop-page__about {
    display: flex;
margin-top: 51px;

}
.shop-page__about-text{
    margin-left: 10px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
color: rgba(0, 0, 0, 0.7);
}
.shop-page__about-img {
    width: 540px;
height: 674px;
border-radius: 45px;
margin-right: 10px;
margin-left: 120px;
}
.shop-page__about-text-green {
    color: #A0B45B;
}
.shop-page__about-text-small {
    font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 38px;
color: rgba(0, 0, 0, 0.72);
margin-top: 20px;
}
.shop-page-line {
    border: none; 
    width: 1053.72px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 1px; /* Толщина линии */
    margin-bottom: 80px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    
}
.shop-page__grid {
margin-top: 44px;
}

.shop-page__grid-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.shop-page__grid-one-img {
width: 390px;
margin-left: auto;
margin-right: auto;
border-radius: 45px;
} 
.shop-page__grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shop-page__grid-two-img {
    width: 290px;
    margin-left: auto;
margin-right: auto;
border-radius: 45px;
margin-top: 7px;
}
.shop-page__grid-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.shop-page__grid-three-img {
    width: 391px;
    margin-left: auto;
margin-right: auto;
border-radius: 45px;
margin-top: 7px;
}
.shop-page__grid-four {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.shop-page__grid-four-img {
    width: 295px;
    margin-left: auto;
margin-right: auto;
border-radius: 45px;
margin-top: 7px;
}